{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Coming Soon - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-misc.css' %}" />
{% endblock page_css %}

{% block content %}

<div class="misc-wrapper">
  <h3 class="mb-2 mx-2">We are launching soon 🚀</h3>
  <p class="mb-4 mx-2">We're creating something awesome. Please subscribe to get notified when it's ready!</p>
  <form onsubmit="return false">
    <div class="mb-0 d-flex gap-3">
      <input type="text" class="form-control" placeholder="Enter your email" autofocus>
      <button type="submit" class="btn btn-primary">Notify</button>
    </div>
  </form>
  <div class="d-flex justify-content-center mt-5">
    <img src="{% static 'img/illustrations/misc-coming-soon-object.png' %}" alt="misc-coming-soon" class="img-fluid misc-object d-none d-lg-inline-block" width="170">
    {% if pengaturan.misc_background_image %}
    <img src="{{ pengaturan.misc_background_image.url }}" alt="misc-coming-soon-bg" class="misc-bg d-none d-lg-inline-block" style="position: absolute !important; top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important; inset-block-end: 0 !important; inline-size: 100% !important; width: 100% !important; height: 100% !important; object-fit: cover !important; z-index: -1;">
    {% else %}
    <img src="{% static 'img/illustrations/misc-bg-' %}{{ COOKIES.style|default:'light' }}.png" alt="misc-coming-soon" class="misc-bg d-none d-lg-inline-block" data-app-light-img="illustrations/misc-bg-light.png" data-app-dark-img="illustrations/misc-bg-dark.png">
    {% endif %}
    
    {% if pengaturan.misc_image %}
    <img src="{{ pengaturan.misc_image.url }}" alt="misc-coming-soon" class="img-fluid z-1" style="width: 50vw !important; max-inline-size: 100% !important;">
    {% else %}
    <img src="{% static 'img/illustrations/misc-coming-soon-illustration.png' %}" alt="misc-coming-soon" class="img-fluid z-1" width="190">
    {% endif %}
  </div>
</div>

{% endblock %}
