{% comment %}
==========================================================================
   SCRIPTS INCLUDES FRONT - Include Script Halaman Front
   Partial berisi include script khusus front page.
   ==========================================================================
{% endcomment %}
{% load static %}

<script src="{% static 'vendor/js/helpers.js' %}"></script>

{% if has_customizer %}
<script src="{% static 'vendor/js/template-customizer.js' %}"></script>
{% endif %}

<script src="{% static 'js/config.js' %}"></script>

{% if has_customizer %}
<script>
if (typeof TemplateCustomizer !== 'undefined') {
  window.templateCustomizer = new TemplateCustomizer({
    cssPath: '',
    themesPath: '',
    defaultStyle: "{{style}}", 
    lang: '{{LANGUAGE_CODE}}',
    pathResolver: function(path) {
      var resolvedPaths = {
        
        'core.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/core.css",
        'core-dark.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/core-dark.css",

        'theme-default.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/theme-default.css",
        'theme-default-dark.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/theme-default-dark.css",

        'theme-bordered.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/theme-bordered.css",
        'theme-bordered-dark.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/theme-bordered-dark.css",

        'theme-semi-dark.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/theme-semi-dark.css",
        'theme-semi-dark-dark.css': "{% static 'vendor/css' %}{{rtl_support|yesno:'/rtl,'}}/theme-semi-dark-dark.css"
      }
      return resolvedPaths[path] || path;
    },
    controls: ['rtl', 'style'],
  });
}

</script>
{% endif %}
