{% comment %}
==========================================================================
   SCRIPTS FRONT PARTIAL - Script JS Halaman Front
   Partial script khusus untuk layout front/landing page.
   ==========================================================================
{% endcomment %}
{% load static %}

<!--Vendors Javascript-->
<script src="{% static 'vendor/js/dropdown-hover.js' %}"></script>
<script src="{% static 'vendor/js/mega-dropdown.js' %}"></script>
<script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'vendor/libs/node-waves/node-waves.js' %}"></script>
<script src="{% static 'js/front-main.js' %}"></script>
