{% extends 'layout/master.html' %}
{% comment %}
==========================================================================
   LAYOUT BLANK - Layout Kosong (Tanpa Sidebar/Navbar)
   Layout minimal tanpa sidebar dan navbar.
   Digunakan untuk halaman: login, register, error, print.
   ==========================================================================
{% endcomment %}


{% block layout %}

<!-- Content: Start -->
{% block content %}
{% endblock content %}
<!-- Content: End -->

{% endblock layout %}
