{% extends 'layout/master.html' %}
{% comment %}
==========================================================================
   LAYOUT FRONT - Layout Halaman Depan
   Layout untuk halaman landing/front page.
   Navbar transparan, hero section, footer full.
   ==========================================================================
{% endcomment %}

{% block layout %}

{% if is_navbar %}

{% include "../layout/partials/navbar/navbar_front.html" %}

{% endif %}

{% block content %}
{% endblock content %}

{% if is_footer %}

{% include "../layout/partials/footer/footer_front.html" %}

{% endif %}

{% endblock layout %}
